{% extends 'base.html.twig' %}
{% block javascripts %}
<script src="/js/admin/showHideButton.js"></script>
<script src="/js/admin/renderSurveys.js"></script>
{% endblock %}
{% block stylesheets %}
<style>
	.highlight {
		background-color: #888888;
	}
	.list-item {
		padding: 5px;
	}
	.list-item.post {
		margin-left: 1em;
	}
	.list-item.comment {
		margin-left: 2em;
	}
	.list-item.content {
		margin-left: 2em;
	}
	.list-item.survey {
		width: 50%;
	}
	.list-item.option {
		padding: 5px;
		margin: 0;
	}

	span.votecount {
		background-color: #BBBBBB;
		float: right;
	}

	button.delete-post {
		font-size: 14px;
		background-color: inherit;
		color: #0000ee;
		margin: 0;
		padding: 2px;
		cursor: pointer;
	}

	button.edit-post {
		font-size: 14px;
		background-color: inherit;
		color: #0000ee;
		margin: 0;
		padding: 2px;
		cursor: pointer;
	}

	button.delete-survey {
		font-size: 14px;
		background-color: inherit;
		color: #0000ee;
		margin: 0;
		padding: 2px;
		cursor: pointer;
	}

</style>
{% endblock %}
{% block content %}
<h1>Administration</h1>
<hr>
<div class="navbar">
	<a href="{{ path("app_blog_admin_users") }}"><button type="button" >Users</button> </a>
	<a href="{{ path("app_blog_admin_posts") }}"><button type="button" class="highlight">Posts</button> </a>
	<a href="{{ path("app_blog_admin_surveys") }}"><button type="button" >Surveys</button></a>
</div>
<div class="list">
	{% if data['posts'] != null %}
		{% for post in data['posts']|reverse %}
			<div class="list-item post">
				ID: {{ post.id }} | Title: {{ post.title }} | Date: {{ post.subtime|date() }} | Author: {{ post.author.username }}
				<span style="display: inline-flex;"> -
					<a href="{{ path('app_blog_post_edit', {'post_id': post.id}) }}">
						<button type="button" class="edit-post">EDIT</button>
					</a> -
					{{ render(path('app_blog_post_delete', {'post_id': post.id})) }}
				</span>
					<br>
				Content: <button type="button" class="show-hide small" id="{{ post.id }}" name="content">+</button>
				<span id="{{ post.id }}" name="content" hidden>
					<div class="list-item content">
						{{ post.content }}
					</div>
				</span>
				Comments: <button type="button" class="show-hide small" id="{{ post.id }}" name="comments">+</button><br>
				<span id="{{ post.id }}" name="comments" hidden>
				{% for comment in post.comments %}
					<div class="list-item comment">
						ID: {{ comment.id }} | Date: {{ comment.date|date() }} | Author: {{ comment.author.username }}<br>
						Content: {{ comment.content }}
					</div>
				{% endfor %}
				</span>
				<br>
			</div>
		{% endfor %}
	{% endif %}
</div>
{% endblock %}