{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block side %}
<br>
{% endblock %}
{% block content %}
    <h1>Register</h1>
    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm.username, {'attr' : {'class' : 'form-control', 'placeholder' : 'Username'}}) }}<br>
        {{ form_widget(registrationForm.plainPassword.first, {'attr' : {'class' : 'form-control', 'placeholder' : 'Password'}}) }}<br>
        {{ form_widget(registrationForm.plainPassword.second, {'attr' : {'class' : 'form-control', 'placeholder' : 'Repeat password'}}) }}<br>

        <button>Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
