{% extends 'base.html.twig' %}

{% block javascripts %}
<script src="/js/admin/showHideButton.js"></script>
<script src="/js/searchResultsHighlight.js"></script>
{% endblock %}
{% block stylesheets %}
<style>
	.highlight {
		background-color: #e5e83e;
	}
	.list-item {
		padding: 5px;
	}
	.list-item.post {
		margin-left: 1em;
	}
	.list-item.content {
		margin-left: 2em;
	}
</style>
{% endblock %}

{% block content %}

Search results for "<span id="query">{{ query }}</span>":

{% for post in results %}
<div class="list-item post">
	ID: {{ post.id }} |
	Title:<span class="list-item title">{{ post.title }}</span> |
	Date: {{ post.subtime|date() }} |
	Author: {{ post.author.username }} |
	<a href="{{ path('app_blog_post_show', {'post_id': post.id}) }}">Link</a>
	<br>
	Content: <button type="button" class="show-hide small" id="{{ post.id }}" name="content">+</button>
	<span id="{{ post.id }}" name="content" hidden>
		<div class="list-item content">
			{{ post.content }}
		</div>
	</span>
</div>
{% endfor %}

{% endblock %}