{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
.title {
	font-size: 1.5625em;
	font-weight: bold;
}
</style>
{% endblock %}
{% block content %}
	<div class="post">
		<div class="post title">{{ post["title"] }}</div>
		by {{ post["author"]}}, {{ post["date"] }}
		<hr>
		<p class="post content">{{ post["content"] }}</p>
	</div>
	<div>
		<a class="home-link" href="{{ path('app_blog_list') }}">Back</a>
	</div>
{% endblock %}