{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block stylesheets %}
	<style>
	.post {
		padding: 10px;
	}
	.title {
		font-size: 1.1em;
		font-weight: bold;
		border: none;
		padding-bottom: 0;
	}
	.content {
		border: none;
		padding-top: 0;
	}
	.link {
		font-style: italic;
		padding: 0;
		padding-left: 10px;
	}
	</style>
{% endblock %}

{% block content %}
	<script>
		$(document).ready(function(){
			$('span.post.content').each(function() {
				if($(this).text().length > 100) {
					$(this).text($(this).text().substring(0, 100) + '...');
				}
			});
		});
	</script>
	{% for post in posts %}
		<div class="post">
			<a href="{{ path('app_blog_post_show', {'post_id': post.id}) }}"><span class="post title">{{ post.title }}</span></a>
			<span class="post content">{{ post.content }}</span>
		</div><br>
	{% endfor %}

{% endblock %}

{% block footer %}
	{% if pageNum > 1 %}
		<a href="{{ path('app_blog_post_list', {'page': pageNum-1}) }}" style="padding-left: 5%;">Previous page</a>
	{% endif %}
	{% if hasNextPage %}
		<a href="{{ path('app_blog_post_list', {'page': pageNum+1}) }}" style="float:right; padding-right: 5%">Next page</a>
	{% endif %}
{% endblock %}