{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
	.title {
		font-size: 1.5625em;
		font-weight: bold;
	}

	.comment {
		padding-left: 1em;
		margin-bottom: 2em;
	}

	.comment-new {
		margin-bottom: 2em;
	}

	#author {
		font-size: 1.1em;
		font-weight: bold
	}

	#date {
		font-size: 0.8em;
	}

	#content {
		margin-left: 1em;
	}
	#comment-content {
		padding-bottom: 0.5em;
		resize: none;
		width: 100%;
		height: 5em;
	}

	textarea#comment-edit-content {
		margin-left: 1em;
		margin-top: 0.4em;
		padding-bottom: 0.5em;
		resize: none;
		width: 60%;
		height: 3em;
	}
	button#comment-edit-send {
		margin-left: 1em;
		padding: 0.3em;
	}
	button#comment-edit-cancel {
		margin-left: 0.2em;
		padding: 0.3em;
	}

	a#comment-delete {
		font-size: 0.65em;
	}

	a#comment-edit {
		font-size: 0.65em;
	}
</style>
{% endblock %}
{% block javascripts %}
<script>
	var path = {
		"current_user": 
		{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
			'{{ app.user.username }}',
		{% else %}
			'',
		{% endif %}
		
		"post_id": '{{ post.id }}',
		"post_comment": '{{ path("app_blog_post_comment", {"post_id" : post.id}) }}',
		"post_comment_edit": '/post/__post-id__/comment/edit/__comment-id__',
		"post_comment_delete": '/post/__post-id__/comment/delete/__comment-id__',
	};

	$(document).ready(function(){
		if($('textarea#comment-content').attr('readonly') != undefined) {
			$('textarea#comment-content').val('Login to post comments.');
		}
	});
</script>
<script src="/js/post/comment.js"></script>
{% endblock %}
{% block content %}
	<div class="post">
		<div class="post title">{{ post.title }}</div>
		by {{ post.author.username}}, {{ post.subtime|date() }}{% if is_granted('ROLE_ADMIN') %} - <a href="{{ path('app_blog_post_edit', {'id': post.id}) }}">EDIT</a> - <a href="{{ path('app_blog_post_delete', {'id': post.id}) }}">DELETE</a>{% endif %}
		<hr>
		<p class="post content">{{ post.content }}</p>
	</div>
	<hr>
	<div class="comment-section">
		<h3>Comments</h3>
		<div class="comment-new">
		{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
			<textarea id="comment-content"></textarea><br><button id="comment-send">Send</button>
		{% else %}
			<textarea id="comment-content" readonly></textarea><br>
		{% endif %}
		</div>
		<div class="comments">
		{% for comment in post.comments|reverse %}
			<div class="comment" id="{{ comment.id }}">
				<span id="author">{{ comment.author.username }}</span>: <br><span id="date">({{ comment.date|date() }})</span>
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
					{% if comment.author.username == app.user.username %}
						<span id="comment-edit" for="{{ comment.id }}"> - <a href="" id="comment-edit">EDIT</a></span>
						<span id="comment-delete" for="{{ comment.id }}"> - <a href="" id="comment-delete">DELETE</a></span>
					{% endif %}
				{% endif %}
				<br>
				<span id="content" for="{{ comment.id }}">{{ comment.content }}</span>
			</div>
		{% endfor %}
		</div>
	</div>
{% endblock %}